<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quinto Ejercicio - Responsive Design en Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-lg="12">
        <!-- En pantallas pequeñas (md), la imagen ocupa 6 columnas. En pantallas grandes (lg), ocupa 12 columnas. -->
        <img src="https://th.bing.com/th/id/OIP.VArz6s5jlJZH1CAs-1bbXgHaHa?w=162&h=180&c=7&r=0&o=5&pid=1.7" alt="Imagen del Producto">
      </ion-col>
      <ion-col size-md="6" size-lg="12">
        <!-- En pantallas pequeñas (md), la descripción ocupa 6 columnas. En pantallas grandes (lg), ocupa 12 columnas. -->
        <h2>Iphone 13 - Pro Max</h2>
        <p>No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. 
          Fue popularizado en los 60s con la creación de las hojas "Letraset",  las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, 
          como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
