

<ion-header>
  <ion-toolbar>
    <ion-title>
      Segundo Ejercicio - Responsive Design con Ionic Grid
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      Es un hecho establecido hace demasiado tiempo que un lector se distraerá 
      con el contenido del texto de un sitio mientras que mira su diseño. 
    </ion-col>
    <ion-col>
      Es un hecho establecido hace demasiado tiempo que un lector se distraerá 
      con el contenido del texto de un sitio mientras que mira su diseño. 
    </ion-col>
    <ion-col>
      Es un hecho establecido hace demasiado tiempo que un lector se distraerá 
      con el contenido del texto de un sitio mientras que mira su diseño. 
    </ion-col>
  </ion-row>
</ion-content>
